@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
	font-family: "Nunito", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

main {
	min-height: 580px;
	flex: 1;
	padding: 20px;
	background-color: #fafafa;
	margin-left: 2px;
}

.top-header-create-employee {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	/* margin-top: 100px; */
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.top-header-create-employee h1 {
	font-weight: 510;
	font-size: 24px;
}

.top-header-create-employee h1 {
	width: 80vw;
	padding: 30px;
	margin: 0px;
	color: #000000;
}

.component-create-employee {
	width: 100%;
	height: 520px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	padding: 30px;
}

#form-create-employee {
	width: 100%;
}

.form-inputs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: auto;
	gap: 50px;
}

.form-items {
	display: flex;
	flex-direction: column;
}

#form-create-employee label {
	display: block;
	margin-bottom: 15px;
}

#form-create-employee input {
	width: calc(100% - 20px);
}

.drop-down {
	width: 100%;
	padding: 0px 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #010101;
	background-color: #ffffff;
}

.drop-down select {
	padding: 10px;
}

#form-create-employee input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #010101;
	outline: none;
	background-color: #ffffff;
}

#form-create-employee select {
	width: 100%;
	border: 0px;
	outline: none;
	background-color: #ffffff;
}

#form-create-employee input:focus,
#form-create-employee .drop-down:focus {
	border: 1px solid #03afeeb0;
}

.form-button {
	width: 32%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 20px;
	margin-top: 45px;
}

.form-button button[type="submit"] {
	font-size: medium;
	background-color: #03aeee;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 60px;
}

.form-button button[type="submit"]:hover {
	background-color: #22a2d1;
}

.form-button button[type="button"] {
	font-size: medium;
	background-color: #ffffff;
	color: #000000;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #000000;
	padding: 10px 60px;
}

.form-button button[type="button"]:hover {
	background-color: #f7f2f2;
}
